{% extends "layout.html.twig" %}

{% block head %}
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="assets/styles/admin.css">
{% endblock %}

{% block content %}
    <h1>This is the admin section</h1>
{% endblock %}

{% block footer %}
{% endblock %}